<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tmu2018.trunkcarassistant">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".StartActivity" />
        <activity android:name=".LuggageActivity" />
        <activity android:name=".TrunkActivity" />
        <activity android:name=".AddLuggageActivity" />
        <activity android:name=".AddTrunkActivity" />
        <activity
            android:name=".EditTrunkActivity"
            android:label="@string/title_activity_edit_trunk"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EditLuggageArrayAdapter"
            android:label="@string/title_activity_edit_luggage_array_adapter"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EditLuggageActivity"
            android:label="@string/title_activity_edit_luggage"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LuggageToEditActivity"
            android:label="@string/title_activity_luggage_to_edit"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>